/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); /* Add the background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AAB396;
    color: white;
    padding: 50px;
}

.header h2 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.back-btn {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #cc0000;
}

/* Table container */
.table-container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}
