/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); /* Add the background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AAB396;
    color: white;
    padding: 50px;
}

.header h2 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.back-btn {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #cc0000;
}

/* Form container */
.form-container {
    width: 40%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-container h3 {
    text-align: center;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Flight details container */
.flight-details {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    color: #333;
    transition: all 0.3s ease;
}

.flight-details h4 {
    text-align: center;
    color: #333;
}

/* Expand container when flight details are displayed */
.form-container.expanded {
    width: 50%;
}
