/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); /* Add the background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AAB396;
    color: white;
    padding: 50px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
}

.logout-btn {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #cc0000;
}

/* Centered buttons with icons */
.dashboard-container {
    text-align: center;
    padding: 80px 0;
}

.dashboard-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dashboard-buttons a {
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.dashboard-buttons a:hover {
    transform: translateY(-5px);
}

.dashboard-buttons img {
    max-width: 50px;
    margin-bottom: 10px;
}
